mixin star-sky(animated)
    - var extraClass = animated ? ' star-sky--animated' : '';
    div(class="star-sky#{extraClass}")
        - var rand = function(min, max){ return Math.floor((Math.random() * max) + min); };
        - for(var i = 0; i < 15; i++)
            - var size = rand(10, 20);
            .star(style="width:"+size+"px; height:"+size+"px;top:"+rand(20, 960)+"px;left:"+rand(20, 960)+"px;")

mixin bullets-v
    ul.bullets
        li

mixin bullets-x
    ul.bullets.bullets--inline
        li

mixin profile-item(src, name, profession, email, linkedinUsername)
    .profile-item
        a(href="https://www.linkedin.com/in/#{linkedinUsername}" title="#{name}'s Linkedin")
            .avatar
                img(src="www/img/team/#{src}.png")
            h6.profile-item__title #{name}
        small #{profession}
        hr
        a(href="mailto:#{email}" onclick="ga('send', 'event', 'Contact', 'click', 'email_#{name}');")
            small #{email}